* {
  font-family: "Nunito", Arial;
  box-sizing: border-box;
  align-content: center;
  /* background-color: #ededed; */
}

/* main elements */
header {
  position: relative;
  padding-bottom: 10px;
  /*
  border: 1px solid black;
  */
}

body {
  height: 80%;
  width: 100%;
  margin: 0 auto;
}

footer {
  width: 100%;
  /* height: 10%; */
  background-color: #f4c709;
  width: 100%;
  margin: 0;
  border: 1px solid black;
  position: absolute;
}

/* */

.title-font {
  font-weight: bolder;
}

.text-font {
  font-style: italic;
}

/* Nav  optionally */
.Nav {
  display: flex;
  margin: auto;
}

.Nav .title-font {
  justify-content: center;
  margin: auto;
}
.Nav #logoBrightest {
  margin: auto;
  width: 120px;
  height: 100px;
  object-fit: contain;

  /* box-shadow: 0 -130px 180px 150px rgba(255, 255, 0, 0.6); sun background light*/
  /* filter: drop-shadow(5px 4px 10px #222) blur(0.4px); */
  border-radius: 0px 0px 20px 20px;
  /* box-shadow: 0px 1px 3px rgba(160, 149, 149, 0.671) inset; */
  margin: auto;
  padding: 5px 5px 5px 5px;
}

/*Boom*/
#container-tree {
  position: absolute;

  text-align: center;
  padding-top: 20px;
  /*
  border: 1px solid black;
  */
}

#tree {
  /*stond op 90%*/
  max-height: 95%;

  object-fit: contain;
  position: absolute;
  margin-top: 3%;
  padding-bottom: 1px;

  transform: rotate(-2deg);
  bottom: -15px;
  z-index: -1;
}

.BOX {
  display: flex;
  justify-content: center;
  width: inherit;
  height: 100%;
  margin: auto;
  bottom: 20%;
}
#container-levels,
#container-tree {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
}

/*Levels*/

#container-levels {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
#level1 {
  position: absolute;
  z-index: 1;
  background-color: rgba(206, 0, 0, 0.4);
  width: 10px;
  height: 10px;
  left: 54%;
  bottom: 30%;
  /* margin-left: 52%;
  margin-top: 21%; */
}

/*tooltips met alle levels*/
.tooltip {
  --bg-color: #F4C709;
  --fg-color: rgba(255, 255, 255);
  --color: #F4C709;
  --size: 1.05rem;
  --outer-padding: 0.75rem;
  --offset: var(--outer-padding);
  height: 25px;
  z-index: 1;
  position: relative;
  top: 20%;
  left: 20%;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 2px rgba(43, 43, 43, 0.2));
}
/*positie van de tooltip op het scherm*/
.tooltip1 {
  top: 700px;
  left: 350px;
}
.tooltip2 {
  top: 650px;
  left: -220px;
}
.tooltip3 {
  top: 500px;
  left: 380px;
}
.tooltip4 {
  top: 400px;
  left: -280px;
}
.tooltip5 {
  top: 280px;
  left: 380px;
}
.tooltip6 {
  top: 135px;
  left: 240px;
}
.tooltip7 {
  top: 180px;
  left: -420px;
}
.tooltip8 {
  top: 80px;
  left: 0%;
}
.tooltip9 {
  top: 40px;
  left: -280px;
}


.tooltip__content {
  min-width: 15rem;
  max-width: 20rem;
  margin-top: 0.5rem;
  font-weight: 300;
}


.tooltip__trigger {
  display: inline-grid;
  place-content: center;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background-color: var(--bg-color);
  color: var(--fg-color);

  font-size: calc(var(--size) / 2);

  text-decoration: none;

  box-shadow: 0 0 0 5px rgb(152, 152, 152);
  transition-delay: 500ms;
  transition: background-color 500ms ease-in-out,
  box-shadow 250ms ease-in-out;
  padding: 13px;
}
.tooltip__trigger p {
  font-weight: bold;
  font-size: x-large;
}

.tooltip__wrapper_boven{
  position: absolute;
  top: -57px;
  left: -45px;
  z-index: -1;
  height: 65px;
  padding: var(--outer-padding);

  background: var(--bg-color);
  color: var(--fg-color);

  clip-path: circle(
          calc(var(--size) / 100)
          at
          50% 80%
  );

  box-shadow:
          inset 0 0 0 5px rgba(152, 152,152),
          2px 2px 5px 0px rgba(152, 152,152);

  transition: clip-path 500ms ease-in-out;
  border-radius: 15px;
}

/*positie en grootte van de div met de text in*/
.w_lv1 {
  height: 110px;
  width: 150px;
  top: 10px;
  left: -60px;
}
.w_lv2 {
  height: 110px;
  width: 150px;
  top: 10px;
  left: -60px;
}
.w_lv3 {
  height: 150px;
  width: 170px;
  top: 10px;
  left: -70px;
}
.w_lv4 {
  height: 115px;
  width: 170px;
  top: 10px;
  left: -70px;
}
.w_lv5 {
  height: 75px;
  width: 125px;
  top: 13px;
  left: -48px;
}
.w_lv6{
  height: 75px;
  width: 125px;
  top: -60px;
  left: -48px;
}
.w_lv7{
  height: 75px;
  width: 125px;
  top: -60px;
  left: -48px;
}
.w_lv8{
  height: 75px;
  width: 125px;
  top: -60px;
  left: -48px;
}
.w_lv9{
  height: 75px;
  width: 125px;
  top: -60px;
  left: -48px;
}

.tooltip__title_center {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  font-size: x-large;
  font-weight: 500;
}
.tooltip__title_center p {
  line-height: 35px;
  margin: 0px;
  padding: 0px;
}

.tooltip:hover > .tooltip__wrapper_boven,
.tooltip:focus-within > .tooltip__wrapper_boven {
  clip-path: circle(
          100%
          at
          50%
          50%
  );
}

.tooltip:hover > .tooltip__wrapper_boven,
.tooltip:focus-within > .tooltip__wrapper_boven{
  transition-delay: 0ms;
  box-shadow:
          inset 0 0 0 5px rgba(152, 152,152);
          /*
          2px 2px 5px 0px rgba(152, 152,152);
          */
  background-color: var(--color);
}

/* Legende onderaan op de pagina */
#legende {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(244, 199, 9);
  padding-top: 10px;
  padding-bottom: 10px;
}
.item-legende {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  padding: 0px 10px;
  margin: 0;
  height: 35px;
  width: 230px;
  background-color: #ededed;
  vertical-align: middle;
}
.circle-legende {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 20px;
}

.item-legende p {
  font-family: "Nunito";
  font-weight: bold;
  margin: auto;
  align-content: center;
}
.manual-legende-circle {
  background-color: #63b330;
}
.technical-legende-circle {
  background-color: red;
}
.lead-legende-circle {
  background-color: blue;
}

@media screen and (max-device-width: 1660px) {
  .item-legende p {
    font-size: small;
  }
}

@media screen and (max-device-width: 1250px) {
  .item-legende p {
    font-size: x-small;
  }
}

@media screen and (max-device-width: 800px) {
}
