* {
  font-family: "Nunito", Arial;
  box-sizing: border-box;
  background-color: #ededed;
}
.title-font {
  font-weight: bold;
}
.text-font {
  font-style: italic;
}

body {
  display: block;
  margin: 0;
}

#test {
  display: flex;
  justify-content: center;
  /* border: 1px black solid; */
}

#tree {
  /* width: 70%;
    max-width: 1200px; */
  width: auto;
  height: 750px;
}
