@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/*:root {
    --default-bg:
            linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%),
            linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%),
            linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%);
}*/

html {
    font-size: 24px;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 50vh;

    display: grid;
    place-content: center;
    grid-template-columns: max-content;

    background-color: white;

    font-family: "Montserrat", sans-serif;
}

/*.tooltip {
    top: -4rem;
    left: -7rem;
}*/




























.tooltip {
    --bg-color: /*2b2b2b*/ #ffd132;
    --fg-color: rgba(255, 255, 255);
    --color: #EBBE10;

    --size: 1.05rem;
    --outer-padding: 0.75rem;
    --offset: var(--outer-padding);

    position: relative;

    filter: drop-shadow(2px 2px 2px rgba(43, 43, 43, 0.2));
}
.tooltip2 {
    --bg-color: /*2b2b2b*/ #ffd132;
    --fg-color: rgba(255, 255, 255);
    --color: #ffd132;

    --size: 1.05rem;
    --outer-padding: 0.75rem;
    --offset: var(--outer-padding);

    position: relative;
    top: 400px;

    filter: drop-shadow(2px 2px 2px rgba(43, 43, 43, 0.2));
}

.tooltip__content {
    min-width: 15rem;
    max-width: 20rem;
    margin-top: 0.5rem;
    font-weight: 300;
}
.tooltip2__content {
    min-width: 15rem;
    max-width: 20rem;
    margin-top: 0.5rem;
    font-weight: 300;
}

.tooltip__trigger {
    display: inline-grid;
    place-content: center;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    background-color: var(--bg-color);
    color: var(--fg-color);

    font-size: calc(var(--size) / 2);

    text-decoration: none;

    box-shadow: 0 0 0 5px rgb(152, 152, 152);
    transition-delay: 500ms;
    transition: background-color 500ms ease-in-out,
    box-shadow 250ms ease-in-out;
}
.tooltip2__trigger {
    display: inline-grid;
    place-content: center;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    background-color: var(--bg-color);
    color: var(--fg-color);

    font-size: calc(var(--size) / 2);

    text-decoration: none;

    box-shadow: 0 0 0 5px rgb(152, 152, 152);
    transition-delay: 500ms;
    transition: background-color 500ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.tooltip__wrapper {
    position: absolute;
    top: calc(-1 * var(--offset));
    left: calc(-1 * var(--offset));
    z-index: -1;
    width: 500px;

    border-radius: var(--size);
    padding: var(--outer-padding);

    background: var(--bg-color);
    color: var(--fg-color);

    clip-path: circle(
            calc(var(--size) / 4)
            at
            calc(var(--size) / 2 + var(--offset))
            calc(var(--size) / 2 + var(--offset))
    );

    box-shadow:
            inset 0 0 0 5px rgba(152, 152,152),
            2px 2px 5px 0px rgba(152, 152,152);

    transition: clip-path 500ms ease-in-out;
}
.tooltip2__wrapper {
    position: absolute;
    top: -17px;
    left: -350px;
    z-index: -1;

    border-radius: var(--size);
    padding: var(--outer-padding);

    background: var(--bg-color);
    color: var(--fg-color);

    clip-path: circle(
            calc(var(--size) / 10)
            at
            90% 10%
    );

    box-shadow:
            inset 0 0 0 5px rgba(152, 152,152),
            2px 2px 5px 0px rgba(152, 152,152);

    transition: clip-path 500ms ease-in-out;
}

.tooltip__wrapper h1 {
    display: inline;

    margin: 0;
    padding: 0;
    margin-left: calc(var(--size) + var(--outer-padding));

    font-size: var(--size);
    font-weight: 500;
}
.tooltip2__wrapper h1 {
    display: inline;

    margin: 0;
    padding: 0;
    margin-left: 7px;

    font-size: var(--size);
    font-weight: 500;
}

.tooltip__wrapper p {
    font-weight: 300;
    font-size: x-large;
}
.tooltip2__wrapper p {
    font-weight: 300;
    font-size: x-large;
}

.tooltip:hover > .tooltip__wrapper, .tooltip2:hover > .tooltip2__wrapper,
.tooltip:focus-within > .tooltip__wrapper, .tooltip2:focus-within > .tooltip2__wrapper {
    clip-path: circle(
            100%
            at
            50%
            50%
    );
}

.tooltip:hover > .tooltip__trigger, .tooltip2:hover > .tooltip2__trigger,
.tooltip:focus-within > .tooltip__trigger, .tooltip2:focus-within > .tooltip2__trigger{
    transition-delay: 0ms;
    box-shadow: 0 0 0 5px rgba(9, 0, 0, 0.3);
    background-color: var(--color);
}
.accordion {
    box-sizing: border-box;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.accordion .contextBox {
    position: relative;
    margin: 8px 8px;
}


.accordion .contextBox .label {
    position: relative;
    padding: 5px;
    border: #989898;
    border-width: 5px;
    border-style: solid;
    box-shadow: #989898;
    border-radius: 25px;
    background-color: #ffd132;
    color: white;
    cursor: pointer;
    font-size: var(--size);
    font-weight: 500;
}

.accordion .contextBox .label::before {
    content: '+';
    position: absolute;
    top: 22%;
    right: 20px;
    transform: translateY(-10%);
}
.accordion .contextBox.active .label::before{
    content: '-';
}

.accordion .contextBox .content {
    position: relative;
    padding: 10px;
    background-color: #ffd132;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    overflow: hidden;
}
.accordion .contextBox.active .content{
    height: 70px;
}

.accordion .contextBox.active .ul2{
    height: 170px;
}
