
body {
    margin: 0;
    overflow: hidden;
}
    #logo {
        float: right;
        width: 175px;
    }
    #tree {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -200px;
        margin-left: auto;
        margin-right: auto;
        height: 1450px;
        width: 1000px;
    }

    .click-area {
        width: 300px;
        height: 300px;
        margin: 100px auto;
        overflow: hidden;
        background-color: red;
    }
    .click-area img {
        width: 100%;
        transition: 1s;
    }
    .click-area:hover {
        transform: scale(2);
        cursor: pointer;
    }

    #legende {
        display: flex;
        align-self: flex-end;
        width: 50%;
        justify-content: space-around;
    }
    .legende-item1::before{
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: #ff0000;
     }
     .legende-item2::before{
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: #fbff00;
     }
     .legende-item3::before{
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: #0026ff;
     }
  .sky {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #cdefff, #84adff);

    overflow: hidden;
  }
  .ground {
      display: flex;
      justify-content: center;
    height: 10vh;
    width: 100%;
    background: linear-gradient(to bottom, rgb(32, 192, 0), rgb(0, 105, 18));
    overflow: hidden;
  }
  .cloud.one {
    top: 10%;
    width: 120px;
    height: 45px;
  }

  .cloud.two {
    top: 20%;
    width: 60px;
    height: 20px;
    animation-duration: 35s;
  }

  .cloud.three {
    top: 15%;
    width: 120px;
    height: 40px;
    animation-duration: 25s;
  }
 .cloud.four {
    top: 30%;
    width: 120px;
    height: 40px;
    animation-duration: 50s;
  }

  .cloud {
    position: absolute;
    left: 0;
    background: white;
    border-radius: 1000px;
    animation: zoomies 45s infinite linear;
  }

  .cloud::before {
    content: "";
    position: absolute;
    top: -80%;
    left: 10%;
    width: 50%;
    height: 150%;
    background: white;
    border-radius: 50%;
  }

  .cloud::after {
    content: "";
    position: absolute;
    top: -40%;
    right: 20%;
    width: 30%;
    height: 100%;
    background: white;
    border-radius: 50%;
  }

  @keyframes zoomies {
    from {
      left: 0;
      transform: translateX(-100%);
    }

    to {
      left: 100%;
      transform: translateX(0%);
    }
  }



 html {
     font-size: 24px;
     font-weight: 200;
     font-family: "Montserrat", sans-serif;
 }

 .tooltip {
     --bg-color: /*2b2b2b*/ #ffd132;
     --fg-color: rgba(255, 255, 255);
     --color: #EBBE10;

     --size: 1.05rem;
     --outer-padding: 0.75rem;
     --offset: var(--outer-padding);

     z-index: 1;
     position: absolute;
     top: 54%;
     left: 67%;

     filter: drop-shadow(2px 2px 2px rgba(43, 43, 43, 0.2));
 }
 .tooltip2 {
     --bg-color: /*2b2b2b*/ #ffd132;
     --fg-color: rgba(255, 255, 255);
     --color: #ffd132;

     --size: 1.05rem;
     --outer-padding: 0.75rem;
     --offset: var(--outer-padding);

     z-index: 1;
     position: absolute;
     top: 56%;
     left: 32%;

     filter: drop-shadow(2px 2px 2px rgba(43, 43, 43, 0.2));
 }
 .tooltip3 {
     --bg-color: /*2b2b2b*/ #ffd132;
     --fg-color: rgba(255, 255, 255);
     --color: #ffd132;

     --size: 1.05rem;
     --outer-padding: 0.75rem;
     --offset: var(--outer-padding);

     z-index: 1;
     position: absolute;
     top: 40%;
     left: 33%;

     filter: drop-shadow(2px 2px 2px rgba(43, 43, 43, 0.2));
 }

 .tooltip__content {
     min-width: 15rem;
     max-width: 20rem;
     margin-top: 0.5rem;
     font-weight: 300;
 }
 .tooltip2__content,  .tooltip3__content {
     min-width: 15rem;
     max-width: 20rem;
     margin-top: 0.5rem;
     font-weight: 300;
 }

 .tooltip__trigger {
     display: inline-grid;
     place-content: center;

     width: var(--size);
     height: var(--size);
     border-radius: 50%;

     background-color: var(--bg-color);
     color: var(--fg-color);

     font-size: calc(var(--size) / 2);

     text-decoration: none;

     box-shadow: 0 0 0 5px rgb(152, 152, 152);
     transition-delay: 500ms;
     transition: background-color 500ms ease-in-out,
     box-shadow 250ms ease-in-out;
 }
 .tooltip2__trigger, .tooltip3__trigger {
     display: inline-grid;
     place-content: center;

     width: var(--size);
     height: var(--size);
     border-radius: 50%;

     background-color: var(--bg-color);
     color: var(--fg-color);

     font-size: calc(var(--size) / 2);

     text-decoration: none;

     box-shadow: 0 0 0 5px rgb(152, 152, 152);
     transition-delay: 500ms;
     transition: background-color 500ms ease-in-out,
     box-shadow 250ms ease-in-out;
 }

 .tooltip__wrapper {
     position: absolute;
     top: calc(-1 * var(--offset));
     left: calc(-1 * var(--offset));
     z-index: -1;
     width: 500px;

     border-radius: var(--size);
     padding: var(--outer-padding);

     background: var(--bg-color);
     color: var(--fg-color);

     clip-path: circle(
             calc(var(--size) / 4)
             at
             calc(var(--size) / 2 + var(--offset))
             calc(var(--size) / 2 + var(--offset))
     );

     box-shadow:
             inset 0 0 0 5px rgba(152, 152,152),
             2px 2px 5px 0px rgba(152, 152,152);

     transition: clip-path 500ms ease-in-out;
 }
 .tooltip2__wrapper, .tooltip3__wrapper {
     position: absolute;
     top: -17px;
     left: -350px;
     z-index: -1;

     border-radius: var(--size);
     padding: var(--outer-padding);

     background: var(--bg-color);
     color: var(--fg-color);

     clip-path: circle(
             calc(var(--size) / 10)
             at
             90% 10%
     );

     box-shadow:
             inset 0 0 0 5px rgba(152, 152,152),
             2px 2px 5px 0px rgba(152, 152,152);

     transition: clip-path 500ms ease-in-out;
 }

 .tooltip__wrapper h1 {
     display: inline;

     margin: 0;
     padding: 0;
     margin-left: calc(var(--size) + var(--outer-padding));

     font-size: var(--size);
     font-weight: 500;
 }
 .tooltip2__wrapper h1 {
     display: inline;

     margin: 0;
     padding: 0;
     margin-left: 7px;

     font-size: var(--size);
     font-weight: 500;
 }
 .tooltip3__wrapper h1 {
     display: inline;

     margin: 0;
     padding: 0;
     margin-left: 7px;

     font-size: var(--size);
     font-weight: 500;
 }

 .tooltip__wrapper p {
     font-weight: 300;
     font-size: x-large;
 }
 .tooltip2__wrapper p,  .tooltip3__wrapper p {
     font-weight: 300;
     font-size: x-large;
 }

 .tooltip:hover > .tooltip__wrapper, .tooltip2:hover > .tooltip2__wrapper, .tooltip3:hover > .tooltip3__wrapper,
 .tooltip:focus-within > .tooltip__wrapper, .tooltip2:focus-within > .tooltip2__wrapper, .tooltip3:focus-within > .tooltip3__wrapper {
     clip-path: circle(
             100%
             at
             50%
             50%
     );
 }

 .tooltip:hover > .tooltip__trigger, .tooltip2:hover > .tooltip2__trigger,.tooltip3:hover > .tooltip3__trigger,
 .tooltip:focus-within > .tooltip__trigger, .tooltip2:focus-within > .tooltip2__trigger, .tooltip3:focus-within > .tooltip3__trigger{
     transition-delay: 0ms;
     box-shadow: 0 0 0 5px rgba(9, 0, 0, 0.3);
     background-color: var(--color);
 }
 .accordion {
     box-sizing: border-box;
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;
 }

 .accordion .contextBox {
     position: relative;
     margin: 8px 8px;
 }


 .accordion .contextBox .label {
     position: relative;
     padding: 5px;
     border: rgba(152, 152, 152, 0.69);
     border-width: 5px;
     border-style: solid;
     box-shadow: rgba(152, 152, 152, 0.69);
     border-radius: 25px;
     background-color: #ffd132;
     color: white;
     cursor: pointer;
     font-size: var(--size);
     font-weight: 500;
 }

 .accordion .contextBox .label::before {
     content: '+';
     position: absolute;
     top: 22%;
     right: 20px;
     transform: translateY(-10%);
 }
 .accordion .contextBox.active .label::before{
     content: '-';
 }

 .accordion .contextBox .content {
     position: relative;
     padding: 10px;
     background-color: #ffd132;
     height: 0;
     overflow: hidden;
     transition: 0.5s;
     overflow-y: auto;
     overflow: hidden;
 }
 .accordion .contextBox.active .content{
     height: 70px;
 }

 .accordion .contextBox.active .ul2{
     height: 170px;
 }

#lv1 {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 62%;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
#lv2 {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 37%;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
#lv4 {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 38%;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
#lv5 {
    position: absolute;
    z-index: 10;
    top: 27%;
    left: 60%;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
#lv9 {
    position: absolute;
    z-index: 10;
    top: 17%;
    left: 40%;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
